//  ====================  Control Pane SASS  ====================

//    created by:        Brycen Rogers ( brycenrogers@gmail.com )
//    creation data:     October 14, 2015

//    This file contains styles for the control pane HTML layout of Linken

//  ===========================================================

.container-control-pane {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid $greyLineColor;

    .navbar {
        background-color: transparent;
        border: none;
        border-radius: 0;
        margin-bottom: 0;

        .navbar-brand {
            font-family: $fontFace;
            font-weight: 300;
            font-size: 16pt;
            width: 383px;
            color: #aaa;
        }

        @media (max-width: 767px) {
            .navbar-brand {
                width: 265px;
            }
        }

        li.active,
        li.dropdown.open {
            a {
                background-color: #fafafa;
                border-right: 1px solid #e3e3e3;
                border-left: 1px solid #e3e3e3;
            }
            ul a {
                background-color: transparent;
                border: 0;
            }
        }

        #tags-dropdown-container.dropdown.open {
            margin-left: -1px;
            margin-right: -1px;

            ul.dropdown-menu {
                border-top: 1px solid #e3e3e3;
                li.active a {
                    margin-left: 0;
                }
            }
        }

        @media (max-width: 767px) {
            li.active,
            li.dropdown.open {
                a {
                    background-color: #fafafa;
                    border-top: 1px solid #e3e3e3;
                    border-bottom: 1px solid #e3e3e3;
                    border-right: 0;
                    border-left: 0;
                }
                ul a {
                    background-color: transparent;
                    border: 0;
                }
            }
            #tags-dropdown-container.dropdown.open,
            #account-dropdown-container.dropdown.open {
                margin: -1px 0;

                ul.dropdown-menu {
                    border: 0;
                    li.active a {
                        margin-left: 0;
                    }
                }
            }
        }

        #account-dropdown-container {

            ul.dropdown-menu {
                margin-top: 2px;
                border-top: 1px solid #e3e3e3;
            }
        }

        .account-button {
            color: #777;
            padding: 0;

            .user-photo {
                float: left;
                width: 40px;
                height: 40px;
                margin: 4px 2px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 50%;
                border: 0;
                outline: none;
            }
        }

        .collapsing, .collapse.in {
            .account-button {
                padding: 10px;

                .user-photo {
                    width: 25px;
                    height: 25px;
                    margin: -3px 6px 0 0;
                }
            }
            form {
                border-bottom: none;
                margin-bottom: 0;
                margin-top: 0;
            }
            #nav-list-container {
                margin-top: -1px;
                margin-bottom: 0;
                border-bottom: 1px solid #e3e3e3;
            }
            #account-list-container {
                margin-top: -1px;
                margin-bottom: 0;
            }
        }
    }

    .container-account-pane {
        height: 34px;
        padding-right: 30px;
    }

    .menu-username {
        font-weight: bold;
        padding: 0 15px;
    }

    .cropit-image-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        cursor: pointer;
        margin: 0 auto;
    }
    .cropit-image-background {
        opacity: .2;
        cursor: auto;
    }
    .image-size-label {
        margin-top: 10px;
    }
    .cropit-image-zoom-input {
        margin: 0 auto;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 5px;
        background: #eee;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        outline: none;
        width: 130px !important;
        position: relative;
    }
    input.cropit-image-input {
        visibility: hidden;
    }
    #tags-dropdown-pane {
        width: 275px;
        height: 200px;
        overflow: scroll;

        ul {
            padding: 0 20px 40px;
            list-style-type: none;

            .letter-headers {
                font-family: $fontFace;
                margin-top: 20px;
                font-weight: 700;
            }

            a {
                font-family: $fontFace;
            }
        }
    }
    @media (max-width: 767px) {
        #tags-dropdown-pane {
            width: 100%;
            border-bottom: 1px solid #e3e3e3;
        }
    }
}
.letter-header {
    width: 100%;
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 15pt;
    border-bottom: 1px solid #ccc;
}
#subcontrol-pane {
    padding: 15px;
    border-top: 1px solid #e3e3e3;
    margin: 8px 0 -15px;
}
#changePasswordError {
    display: none;
}