//  ====================  Discover SASS  ======================

//    created by:        Brycen Rogers ( brycenrogers@gmail.com )
//    creation data:     December 30, 2015

//    This file contains styles for the Discover page of Linken

//  ===========================================================

.blurb {
    float: left;
    width: 100%;
    padding: 20px 15px;
    font-family: $fontFace;
    font-size: 12pt;
    font-weight: 300;
    color: #aaa;
}

#discover-container {
    .discover-header {
        float: left;
        width: 100%;
        background-color: #fafafa;
        border-bottom: 1px solid $greyLineColor;
        text-align: left;
        vertical-align: top;

        .discover-header-container {
            border-top: 1px solid $greyLineColor;
            margin-top: -1px;
            padding: 20px;
            font-family: $fontFace;
            font-size: 14pt;
            color: #777;
        }
    }
    .discover-list-item {
        .discover-list-container {
            .container-item-pane {
                border-top: 1px solid $greyLineColor;
                border-bottom: none;
                margin-top: -1px;
            }
        }
    }
}