//  ====================  Discover SASS  ======================

//    created by:        Brycen Rogers ( brycenrogers@gmail.com )
//    creation data:     December 30, 2015

//    This file contains styles for the Discover page of Linken

//  ===========================================================

.blurb {
    padding: 20px 15px;
    font-family: $fontFace;
    font-size: 12pt;
    font-weight: 300;
    color: #aaa;
}

table#discover-table {
    td.discover-sidebar-td {
        width: 200px;
        background-color: #fafafa;
        border-right: 1px solid $greyLineColor;
        text-align: right;
        vertical-align: top;

        .discover-sidebar-container {
            border-top: 1px solid $greyLineColor;
            margin-top: -1px;
            padding: 20px;
            font-family: $fontFace;
            font-size: 14pt;
            color: #777;
        }
    }
    td.discover-list-td {
        .discover-list-container {
            .container-item-pane {
                border-top: 1px solid $greyLineColor;
                border-bottom: none;
                margin-top: -1px;
            }
        }
    }
}