.container-header {
    height: 125px;
    background-color: #efefef;
    margin-top: 25px;

    .linken-logo {
        background-image: url(../images/linken-logo.png);
        background-repeat: no-repeat;
        width: 90px;
        height: 98px;
        margin: 0 auto;
        position: relative;
        z-index: 140;
        display: block;
    }

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
        .linken-logo {
            background-image: url(../images/linken-logo@2X.png);
            background-size: 90px 98px;
        }
    }

    .container-header-pane {
        font-family: $fontFace;
        font-size: 16pt;
        font-weight: 300;
        position: absolute;
        top: 65px;
        width: 100%;
    }
}