.container-header {
    .linken-logo {
        background-image: url("../images/linken-logo.png");
        background-repeat: no-repeat;
        width: 90px;
        height: 98px;
        margin: 0 auto;
        position: relative;
        z-index: 140;
        display: block;
    }

    .container-header-pane {
        font-family: $fontFace;
        font-size: 16pt;
        font-weight: 300;
        position: absolute;
        top: 65px;
        width: 100%;
    }
}