//  ====================  Item Pane SASS  ====================

//    created by:        Brycen Rogers ( brycenrogers@gmail.com )
//    creation data:     October 8, 2015

//    This file contains styles for the item pane HTML layout of Linken

//  ===========================================================

.container-item-pane {
    div.media-link-image {
        width: 100px;
        height: 100px;
        margin: 5px 10px 0 5px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    div.link-padding {
        padding: 10px;
    }
    div.media-description {
        padding-top: 15px;
    }
    div.media-footer {
        padding-top: 15px;
        div.media-tags {
            min-height: 22px;
            float: left;
            a.tag-link {
                text-decoration: none;
                float: left;
                margin-right: 5px;
                margin-top: 5px;
            }
            .label-tag {
                background-color: #bbb;
            }
            .label-tag:hover {
                background-color: #777;
            }
        }
        div.media-options {
            float: left;
            padding-left: 5px;
            a {
                margin: 3px 10px 0 3px;
                float: left;
                color: #bbb;
                :hover {
                    color: #777;
                }
            }
        }
    }
    h4.media-heading {
        font-family: $fontFace;
        font-size: 24px;
        color: #BE5C00;
        margin-bottom: 0;
        a {
            text-decoration: none;
        }
    }
    div.media-url {
        font-size: 9pt;
        font-style: italic;
        padding-top: 5px;
        a {
            color: #aaa;
        }
    }
    div.media-body {
        padding-left: 20px;
        font-size: 11pt;
        color: $fontColorGrey;
    }
}