//  ====================  Item Pane SASS  ====================

//    created by:        Brycen Rogers ( brycenrogers@gmail.com )
//    creation data:     October 8, 2015

//    This file contains styles for the item pane HTML layout of Linken

//  ===========================================================
#item-settings-errors {
    display: none;
}
.container-item-pane {
    border-bottom: 1px solid $greyLineColor;
    width: 100%;
    float: left;
    padding: 30px 0;

    .media-link-image {
        width: 100px;
        height: 100px;
        margin: 5px 5px 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    @media (max-width: 767px) {
        .media-link-image {
            width: 40px;
            height: 40px;
            margin: 0;
        }
        .media-body {
            padding-left: 5px !important;
        }
    }
    .link-padding {
        padding: 10px;
    }
    .media-description {
        padding-top: 15px;
    }
    .media-footer {
        padding-top: 15px;

        .user-photo {
            float: left;
            width: 25px;
            height: 25px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            border: 0;
            outline: none;
            margin-right: 15px;
        }

        .media-tags {
            min-height: 22px;
            float: left;
            a.tag-link {
                text-decoration: none;
                float: left;
                margin-right: 5px;
            }
            .label-tag {
                background-color: #bbb;
            }
            .label-tag:hover {
                background-color: #777;
            }
        }
        .media-options {
            float: left;
            padding-top: 10px;
            clear: both;
            a {
                margin: 3px 10px 0 3px;
                float: left;
                color: #bbb;
                outline: none;
                :hover {
                    color: #777;
                }
            }
        }
    }
    h4.media-heading {
        font-family: $fontFace;
        font-size: 16pt;
        color: #BE5C00;
        margin-bottom: 0;
        a {
            text-decoration: none;
        }
    }
    @media (max-width: 767px) {
        font-size: 12pt;
    }
    .media-url {
        font-size: 9pt;
        font-style: italic;
        padding-top: 5px;
        a {
            color: #aaa;
        }
    }
    .media-body {
        padding-left: 20px;
        font-size: 11pt;
        color: $fontColorGrey;
    }
}
#pager-container {
    float: left;
    width: 100%;
}
.item-share-modal {
    .share-send-email {
        margin-top: 10px;
    }
    .item-share-errors {
        display: none;
    }
}