//  ====================  Layout Main SASS  ====================

//    created by:        Brycen Rogers ( brycenrogers@gmail.com )
//    creation data:     September 16, 2015

//    This file contains styles for the base HTML layout of Linken

//  ===========================================================
a {
    color: $blue;
}
.btn-primary {
    background-color: $blue;
    text-shadow: 0 1px 1px #405da3;
}

body {
    font: 100% Helvetica, sans-serif;
    background-color: $lightGreyBackground;
    font-size: 11pt;
    line-height: 15pt;
}
.container-main {
    background-color: #fff;
    position: relative;
}
.container-content {
    background-color: #fff;
    min-height: 700px;
    border-left: 1px solid $greyLineColor;
    border-right: 1px solid $greyLineColor;
    .external-header {
        float: left;
        width: 100%;
        position: relative;
        z-index: 120;
        background-color: $blue;
        border-bottom: 1px solid #405da3;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18pt;
        text-shadow: 0 1px 1px #405da3;
        color: #ffffff;
        text-align: center;
    }
}
.container-footer {
    height: 150px;
    background-color: $lightGreyBackground;
    border-top: 1px solid $greyLineColor;
    color: $darkGreyFooterText;
    .footer {
        font-size: 10pt;
        padding-top: 30px;
        text-align: center;
        width: 100%;
    }
    a {
        color: #999;
    }
}
.row.no-margin {
    margin: 0;
}