$add-container-height: 85px;
$blue: #448dff;
$orange: #ce8229;
$green: #50af55;
$purple: #6a38ff;
$red: #f60000;
$greyLineColor: #e3e3e3;
$lightGreyBackground: #efefef;
$darkGreyFooterText: #aaaaaa;
$fontFace: 'Montserrat', sans-serif;
$fontColorGrey: #777;