@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700|Montserrat);
.btn-primary {
  background-color: #448dff;
  text-shadow: 0 1px 1px #405da3; }

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
  font-size: 11pt;
  line-height: 15pt; }

.container-main {
  background-color: #fff; }

.container-header {
  height: 125px;
  background-color: #efefef;
  margin-top: 25px; }

.container-content {
  background-color: #fff;
  min-height: 700px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3; }
  .container-content .external-header {
    float: left;
    width: 100%;
    position: relative;
    z-index: 120;
    background-color: #448dff;
    border-bottom: 1px solid #405da3;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    text-shadow: 0 1px 1px #405da3;
    color: #ffffff;
    text-align: center; }

.container-footer {
  height: 150px;
  background-color: #efefef;
  border-top: 1px solid #e3e3e3;
  color: #aaaaaa; }
  .container-footer .footer {
    font-size: 10pt;
    padding-top: 30px;
    text-align: center;
    width: 100%; }
  .container-footer a {
    color: #999; }

.row.no-margin {
  margin: 0; }

.container-header .linken-logo {
  background-image: url("../images/linken-logo.png");
  background-repeat: no-repeat;
  width: 90px;
  height: 98px;
  margin: 0 auto;
  position: relative;
  z-index: 140;
  display: block; }

.container-header .container-header-pane {
  font-family: "Oxygen", sans-serif;
  font-size: 16pt;
  font-weight: 300;
  position: absolute;
  top: 65px;
  width: 100%; }

.select2-results {
  font-size: 12pt !important; }

#blue-hitbox-add-pane.flash.flash-success {
  background-color: #5cb85c; }
  #blue-hitbox-add-pane.flash.flash-success .flash-message {
    text-shadow: 0 1px 1px #1f7a2c; }

#blue-hitbox-add-pane.flash.flash-error {
  background-color: #dc4c4c; }
  #blue-hitbox-add-pane.flash.flash-error .flash-message {
    text-shadow: 0 1px 1px #832e2e; }

#blue-hitbox-add-pane {
  float: left;
  width: 100%;
  position: relative;
  z-index: 120;
  background-color: #448dff;
  border-bottom: 1px solid #405da3;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 66px; }
  #blue-hitbox-add-pane .flash-message {
    display: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 16pt;
    margin: 2px 0;
    color: #ffffff;
    text-align: center;
    width: 100%; }
  #blue-hitbox-add-pane textarea#add {
    float: left;
    width: 100%;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    font-size: 16pt;
    color: white;
    outline: none;
    font-family: "Oxygen", sans-serif;
    text-shadow: 0 1px 1px #405da3;
    resize: none;
    z-index: 140; }
    #blue-hitbox-add-pane textarea#add::-webkit-input-placeholder {
      color: #cddcff;
      text-shadow: 0 -1px 1px #405da3; }
    #blue-hitbox-add-pane textarea#add:-moz-placeholder {
      /* Firefox 18- */
      color: #cddcff;
      text-shadow: 0 -1px 1px #405da3; }
    #blue-hitbox-add-pane textarea#add::-moz-placeholder {
      /* Firefox 19+ */
      color: #cddcff;
      text-shadow: 0 -1px 1px #405da3; }
    #blue-hitbox-add-pane textarea#add:-ms-input-placeholder {
      color: #cddcff;
      text-shadow: 0 -1px 1px #405da3; }

div#add-pane {
  float: left;
  display: none;
  position: relative;
  z-index: 110;
  background-color: white;
  border-bottom: 1px solid #e3e3e3;
  float: left;
  height: 0;
  padding: 15px;
  min-height: 0;
  text-align: right; }
  div#add-pane textarea, div#add-pane button, div#add-pane .select2 {
    opacity: 0;
    resize: none;
    box-shadow: none; }
  div#add-pane textarea#add-description:focus {
    border: 1px solid #448dff !important; }
  div#add-pane .select2-container--focus .select2-selection {
    border: 1px solid #448dff !important; }
  div#add-pane .select2-selection {
    font-size: 13pt;
    border: 1px solid #ccc !important;
    padding: 7px 10px;
    border-radius: 6px; }
  div#add-pane .foot {
    height: 14px;
    width: 100%; }

div#info-pane {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 15px;
  height: 60px;
  background-color: white;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  margin: 0 15px 0 0;
  z-index: 120; }
  div#info-pane div#info-image-container,
  div#info-pane input#info-title {
    display: none; }
  div#info-pane div#info-image-container {
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px 10px 0 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  div#info-pane div#info-title-container {
    margin: 16px 0;
    font-weight: bold;
    font-family: "Oxygen", sans-serif;
    font-size: 16pt;
    padding-left: 0; }
    div#info-pane div#info-title-container input#info-title {
      width: 100%;
      background-color: transparent;
      outline: none;
      border: 0;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis; }

div#add-fader {
  display: none;
  position: fixed;
  background-color: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.container-item-pane {
  border-bottom: 1px solid #e3e3e3;
  width: 100%;
  float: left;
  padding: 30px 0; }
  .container-item-pane div.media-link-image {
    width: 100px;
    height: 100px;
    margin: 5px 10px 0 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .container-item-pane div.link-padding {
    padding: 10px; }
  .container-item-pane div.media-description {
    padding-top: 15px; }
  .container-item-pane div.media-footer {
    padding-top: 15px; }
    .container-item-pane div.media-footer div.media-tags {
      min-height: 22px;
      float: left; }
      .container-item-pane div.media-footer div.media-tags a.tag-link {
        text-decoration: none;
        float: left;
        margin-right: 5px; }
      .container-item-pane div.media-footer div.media-tags .label-tag {
        background-color: #bbb; }
      .container-item-pane div.media-footer div.media-tags .label-tag:hover {
        background-color: #777; }
    .container-item-pane div.media-footer div.media-options {
      float: left;
      padding-left: 5px; }
      .container-item-pane div.media-footer div.media-options a {
        margin: 3px 10px 0 3px;
        float: left;
        color: #bbb;
        outline: none; }
        .container-item-pane div.media-footer div.media-options a :hover {
          color: #777; }
  .container-item-pane h4.media-heading {
    font-family: "Oxygen", sans-serif;
    font-size: 24px;
    color: #BE5C00;
    margin-bottom: 0; }
    .container-item-pane h4.media-heading a {
      text-decoration: none; }
  .container-item-pane div.media-url {
    font-size: 9pt;
    font-style: italic;
    padding-top: 5px; }
    .container-item-pane div.media-url a {
      color: #aaa; }
  .container-item-pane div.media-body {
    padding-left: 20px;
    font-size: 11pt;
    color: #777; }

div#pager-container {
  float: left;
  width: 100%; }

.container-control-pane {
  width: 100%;
  float: left;
  padding: 15px 0;
  border-bottom: 1px solid #e3e3e3; }
  .container-control-pane .page-title {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-size: 16pt;
    margin: 7px 0;
    color: #aaa; }
  .container-control-pane .container-account-pane {
    height: 34px; }
  .container-control-pane .user-photo {
    width: 45px;
    height: 45px;
    margin: -6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 0;
    outline: none; }
  .container-control-pane .menu-username {
    font-weight: bold;
    padding: 0 15px; }
  .container-control-pane .cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    cursor: pointer;
    margin: 0 auto; }
  .container-control-pane .cropit-image-background {
    opacity: .2;
    cursor: auto; }
  .container-control-pane .image-size-label {
    margin-top: 10px; }
  .container-control-pane .cropit-image-zoom-input {
    margin: 0 auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    width: 130px !important;
    position: relative; }
  .container-control-pane input.cropit-image-input {
    visibility: hidden; }
  .container-control-pane div#tags-dropdown-pane {
    width: 275px;
    height: 200px;
    overflow: scroll; }

div.letter-header {
  width: 100%;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 15pt;
  border-bottom: 1px solid #ccc; }

div#subcontrol-pane {
  padding: 15px;
  border-top: 1px solid #e3e3e3;
  margin: 8px 0 -15px; }

#changePasswordError {
  display: none; }

table#discover-table td#discover-sidebar-td {
  width: 200px;
  background-color: #fafafa;
  border-right: 1px solid #e3e3e3; }

/*# sourceMappingURL=base.css.map */